.container {
    width: 500px;
    margin: auto;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 10px;
  }
  
  h1 {
    text-align: center;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 80%;
    padding: 8px;
    margin-bottom: 8px;
    border: 1px solid #4b370220;
    border-radius : 5px;
    text-align : center;
  }
  
  button {
    width: 83%;
    padding: 10px;
    background-color: #4CAF50;
    color: rgb(245, 244, 244);
    border: 1px solid #f8f8f8;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
  }
  
  #error-message {
    color: red;
    text-align: center;
  }
  